@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: #F9F9F9;
}

/* header */

header {
    width: 1250px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* border: 1px solid black; */
}

header .main_logo {
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    color: #C4C4C4;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav ul li:hover {
    color: #058B8C;
    cursor: pointer;
}

.header_btn {
    padding: 13px 20px;
    width: 190px;
    color: #FFF;
    font-family: 'Rubik';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 25px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
}

.header_btn:hover {
    color: #FFF;
}

/* Banner Section Start */

.banner_section {
    padding: 50px 0px;
    background: url(../assets/icons/moon_right.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.pg_width {
    max-width: 1250px;
    margin: auto;
    /* padding: 0px 10px; */
}

.banner_inner_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.banner_inner_section .banner_img {
    padding: 20px 10px 20px 100px;
}

.banner_inner_section .banner_img img {
    height: 550px;

}

/* Banner_Content */
.banner_inner_section .banner_content {
    margin-top: 110px;
}

.banner_inner_section .banner_content small {
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    /* 0% */
    padding: 5px 15px;
    height: 40px;
    border-radius: 30px;
    background: #058B8C;
}

.banner_inner_section .banner_content .intro {
    margin-top: 8px;
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}

.banner_inner_section .banner_content h2 {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3.6px;
}

.banner_inner_section .banner_content h2 span {
    color: #058B8C;
}

.banner_inner_section .banner_content .description {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
}

.banner_button .btn1 {
    padding: 10px 20px;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    background: #8D0F11;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
}

.banner_button .btn2 {
    margin-left: 3px;
    padding: 10px 20px;
    color: #1E1E1E;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    border: 2px solid #1E1E1E;
    background: transparent;
}

.about_us {
    /* border: 1px solid black; */
    /* margin-top: 10px; */
    height: 600px;
    flex-shrink: 0;
    background: url(../assets/icons/moon_mobile.png);
    background-repeat: no-repeat;
    background-size: 4.7cm;
    background-position-x: 33.5%;
    background-position-y: 56%;

}

/* .about_us .pg_width {
   
} */
.about_us .about_inner_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
}

.about_inner_section .about_inner_img img {
    height: 450px;
}

.about_inner_section .about_inner_content {
    margin-top: 30px;
}

.about_inner_section .about_inner_content h2 {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}

.about_inner_section .about_inner_content h2 span {
    color: #058B8C;
}

.about_inner_section .about_inner_content .paragraph {
    margin-top: 10px;
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 194.444% */
}

/* Who we are End */

/* Company_authority Start */
.company_authority {
    background-color: #058B8C;
    height: 700px;
}

.company_authority_inner_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 74px;
}

.company_authority_inner_section .company_inner_content {
    margin-top: 50px;
}

.company_authority_inner_section .company_inner_content h3 {
    color: #FFF;
    font-family: Rubik;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}

.company_authority_inner_section .company_inner_content h3 span {
    font-weight: 700;
}

.company_authority_inner_section .company_inner_content .paragraph {
    margin-top: 25px;
    color: #FFF;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 194.444% */
}

.company_authority_inner_section .company_inner_img img {
    height: 550px;
    padding-left: 60px;
}

/* Company Authority End */

/* Services Availibility Section Start*/
.services_availibility_section {
    margin: 100px 0px;
    width: 100%;
    height: 220px;
    flex-shrink: 0;
    background: #058B8C;
}

.services_availibility_section .service_highlight {
    padding-top: 40px;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.8px;
}

.service_icon_nmbr {
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    /* padding: 0px 200px;  */
}

.service_icon_nmbr .phone_img img {
    color: #FFFFFF;
    padding-top: 7px;
    height: 37px;
}

.services_availibility_section .service_nmbr {
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.26px;
    padding-left: 20px;
}

/* Services Availibility Section End*/


/* Footer */

footer {
    /* margin-top: 200px; */
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    /* border: 1px solid black; */
    margin: auto;
    /* padding: 0px 10px; */
    width: 1250px;
    height: 180px;
    cursor: pointer;
}

/* column-one */
.column-one p {
    margin-top: 10px;
    width: 350px;
    height: 92px;
    /* flex-shrink: 0; */
    color: #8F8F8F;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}

/* column-two */

.column-two ul li {
    padding: 7px 0px;
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    list-style-type: none;
    /* 150% */
}

.column-two ul li:hover {
    color: black;
}

/* column-three */

.column-three ul li {
    padding: 7px 0px;
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
    /* 150% */
}

.column-three ul li:hover {
    color: black;
}

/* column-four */
.column-four ul li {
    padding: 7px 0px;
    list-style: none;
    color: #8F8F8F;
    font-family: 'Rubik';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.column-four ul li:hover {
    color: black;
}


.column-four .news_letter {
    display: flex;
    margin-top: 17px;
}

.news_letter input {
    height: 38px;
    width: 230px;
    padding-left: 10px;
    border-radius: 25px;
    border: 2px solid #058B8C;
    color: #8F8F8F;
}

.news_letter .send_btn {
    margin-left: 10px;
    padding: 0px 0px 0px 4px;
    border-radius: 341px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
    width: 80px;
    height: 38px;
    color: #FFF;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 166.667% */
    border: none;
}

hr {
    width: 1250px;
    margin: auto;
    opacity: 0.5;
    background: #C4C4C4;
}

.copy_right {
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

/* Footer End */